In [1]:
import pandas as pd

df = pd.read_csv('Tanzania_2012_en.csv')
df.head()

,Indicator,Unit,Subgroup,Area,Area ID,Time Period,Source,Data Value,Footnotes
0,Annual turnover,Million of Tshs,Government grants,Mainland,TZA001,2007-2008,TBA_Annual Report_Yearly,2501.92,TZA_TBA Annual Report
1,Annual turnover,Million of Tshs,Government grants,Mainland,TZA001,2008-2009,TBA_Annual Report_Yearly,3653.95,TZA_TBA Annual Report
2,Annual turnover,Million of Tshs,Government grants,Mainland,TZA001,2009-2010,TBA_Annual Report_Yearly,6942.68,TZA_TBA Annual Report
3,Annual turnover,Million of Tshs,Government grants,Mainland,TZA001,2010-2011,TBA_Annual Report_Yearly,7258.88,TZA_TBA Annual Report
4,Annual turnover,Million of Tshs,TBA own source,Mainland,TZA001,2007-2008,TBA_Annual Report_Yearly,13465.42,TZA_TBA Annual Report

In [2]:
df['Indicator'].value_counts()

Population size                                                                                 1803
Source of improved drinking water by households                                                 1472
Improved toilet facilities by household                                                         1465
Primary school net enrolment ratio                                                              1299
Source of non improved drinking water by households                                             1288
                                                                                                ...
Children who work more than 4 hrs per day-standard definition                                      1
Share of total employment in crop sub-sector                                                       1
Population of married women 15-49 years currently using any modern method of family planning       1
Share of livestock subsector to total employment                                                   1
HIV Viral load suppression among people living with HIV ages 0-14 years                            1
Name: Indicator, Length: 789, dtype: int64

In [3]:
source = df['Indicator'] == 'Source of improved drinking water by households'

In [4]:
df = df[source]

In [5]:
df.head()

,Indicator,Unit,Subgroup,Area,Area ID,Time Period,Source,Data Value,Footnotes
53558,Source of improved drinking water by households,Percent,Piped Water into dwelling,Kagera,TZA001018,2012,"NBS_Population and Housing Census, 2012_2013-2018",2.9,"TZA_Population and Housing Census (PHC) 2012, ..."
53559,Source of improved drinking water by households,Percent,Piped Water into dwelling,Tarime,TZA001020001,2012,"NBS_Population and Housing Census, 2012_2013-2018",1.5,"TZA_Population and Housing Census (PHC) 2012, ..."
53560,Source of improved drinking water by households,Percent,Piped Water into dwelling,Njombe,TZA001022,2012,"NBS_Population and Housing Census, 2012_2013-2018",13.6,"TZA_Population and Housing Census (PHC) 2012, ..."
53561,Source of improved drinking water by households,Percent,Piped Water into dwelling,Ruvuma,TZA001010,2012,"NBS_Population and Housing Census, 2012_2013-2018",12.5,"TZA_Population and Housing Census (PHC) 2012, ..."
53562,Source of improved drinking water by households,Percent,Piped Water into dwelling,Rukwa,TZA001015,2012,"NBS_Population and Housing Census, 2012_2013-2018",6.8,"TZA_Population and Housing Census (PHC) 2012, ..."

In [6]:
df.shape

(1472, 9)

In [7]:
df.isnull().sum()

Indicator      0
Unit           0
Subgroup       0
Area           0
Area ID        0
Time Period    0
Source         0
Data Value     0
Footnotes      0
dtype: int64

In [8]:
df['Time Period'].value_counts()

2012    1472
Name: Time Period, dtype: int64